@use 'base/variables' as v;
@use 'base/mixins' as m;

.barra-categorias{
    background-color: v.$rojo;
    h2, h4{  color: v.$blanco; }
    .barra-categorias-texto{
        padding: 1rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h4{
            border-bottom: 1px solid v.$blanco;
            &:hover{
                cursor: pointer;
            }
        }
    }
}