// Fuentes
$fuente_principal: 'Roboto', sans-serif;;
$fuente_secundaria: 'Varela Round', sans-serif;
// $fuente_tercearia: 'Source Sans Pro', sans-serif;

// Tamaño de Media Queries
$telefonoS: 370px;
$telefono: 430px;
$telefono460: 460px;
$telefono520: 520px;
$tablet: 600px;
$tabletl: 720px;
$desktop: 1200px;
$desktopxl: 1600px;

// Colores
$rojo: #eb203f;
$verde:#329f00ad;
$azul: #062a47;
$gris: #797676;
$grisOpacity: #56565685;
$grisOpacityFooter: rgb(247 247 247 / 98%);
$naranja: #ffa500;
$negro: #202124;
$negro-opacity: rgb(28 29 32 / 81%);
$blanco: #fafafa;
$blanco-opacity: #fffefe1f;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900